<ion-view style="" id="page1" title="Atualizar Perfil">    
    <ion-content class="has-header" padding="true">        
        <form style="" class="list"  ng-submit="atualizarPerfil()">
          <div class="card">            
            <label style="" name="apelido" class="item item-input">
                <span class="input-label">Apelido</span>
                <input placeholder="" type="text" ng-model="userdetails.apelido">
            </label>
            <label style="" name="descricao" class="item item-input">
                <span class="input-label">Descrição</span>
                <input placeholder="" type="text" ng-model="userdetails.descricao">
            </label>            
             <button type="submit" class="button button-block button-dark" id="cadastro-button">Atualizar</button>
         </div>
        </form>        
    </ion-content>
</ion-view>