<ion-view style="" id="page2" title="Configurações">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <label style="" name="cidade" class="item item-input">
                <span class="input-label">Cidade</span>
                <input placeholder="" type="text">
            </label>
            <ion-item style="" class="range range-positive">Distância
                <input name="distancia" max="100" min="0" value="50" type="range">
            </ion-item>
            <ion-item style="" class="range range-positive">Idade
                <input name="idade" max="100" min="0" value="50" type="range">
            </ion-item>
        </form>
    </ion-content>
</ion-view>