<ion-view title="Login">
    <ion-content>
        <div class="padding-left padding-top padding-right">            
        </div>
        <div>
            <div class="list card">
                <label class="item item-input">
                    <input ng-model="email" type="text" placeholder="email" />
                </label>
            </div>
            <div class="padding">
                <button ng-click="perdeuSenha(email)" class="button button-block button-stable">Resgatar</button>
                <p>
                    Sign into this application
                </p>
            </div>
        </div>
        
    </ion-content>
</ion-view>