<ion-view style="" id="page4" title="Perfil">
    <ion-content class="has-header" padding="true">
      <div class="list card">
        <div class="item item-body">
            <img class="full-image" src="{{foto}}">
            <h2 class="blue">{{senha}}</h2>
            <p>
             {{email}}
            </p>
            <p>
             {{descricao}}
            </p>
            
            <button class="button button-stable" ng-click="abrirChat()">
                <a href="#/menu/chat/">
                    <i class="icon ion-email" h ></i>
                </a>
                
            </button>
            
        </div>
      </div>
    </ion-content>
</ion-view>