<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="ionic/css/ionic.min.css">
    <link rel="stylesheet" type="text/css" href="css/todo_main.less.css" class="main-less">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <script src="intelxdk.js"></script>
    <script src="cordova.js"></script>
    <script src="xhr.js"></script>
    <script src="xdk/init-dev.js"></script>
    <script type="application/javascript" src="ionic/js/ionic.bundle.js"></script>
    <script type="application/javascript" src="js/todo_init_services.js"></script>
    <script type="application/javascript" src="lib/jquery.min.js"></script>
    <script type="application/javascript" src="js/todo_user_scripts.js"></script>
    <script type="application/javascript" src="xdk/ad/ionic_subpage.js"></script>
  </head>

  <body ng-app="myApp">
    <div class="upage vertical-col left" id="mainpage">
      <button class="button widget uib_w_1 d-margins" data-uib="ionic/button" data-ver="0" id="fechar">fechar</button>
    </div>
  </body>

</html>